*~
.DS_Store
.vagrant
*.swp
*.log

# dot_config: 秘匿情報を含むものを除外
dot_config/gh/hosts.yml
dot_config/raycast/
dot_config/argocd/
dot_config/configstore/
dot_config/git/
dot_config/AWSVPNClient/
dot_config/chezmoi/
